/* .card {
    background-color: #213547;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
    width: 500px;
} */

/* .card img {
    width: 13%;
    height: 13%;
    border-radius: 70%;
    display: block;
    margin-right: 4%;
} */
/* 
.head {
    display: flex;
    width: 100%;
} */

/* .head h4 {
    margin: 0;
} */

/* .quotation {
    align-self: center;
} */